/******************************************************************************
 * Content
 ******************************************************************************/

body {
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);

  h1, h2, h3, h4, h5, h6 {
    scroll-margin-top: 66px;
  }
}

body.fixed-top-nav {
  // Add some padding for the nav-bar.
  padding-top: 56px;
}

body.sticky-bottom-footer {
  // Remove padding below footer.
  padding-bottom: 0;
}

.container {
  max-width: $max-content-width;
}

// Profile
.profile {
  img {
    width: 100%;
  }
}

.logo_pic {
  max-width: 100%;
  width: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Make the svg_log disapear if the screen is not wide enough
@media screen and (max-width: 1200px) {
  .svg_logo {display:none;}
}

.box {
  opacity:0;
  animation: wavey 5s ease alternate infinite;
  animation-play-state: running;
  &.wave2 {
    animation-delay: 0.1s;
  }
  &.wave3 {
    animation-delay: 0.3s;
  }
  &.wave4 {
    animation-delay: 0.5s;
  }
  &.wave5 {
    animation-delay: 0.7s;
  }
  &.wave6 {
    animation-delay: 0.9s;
  }
  &.wave7 {
    animation-delay: 1.1s;
  }
  
}
@keyframes wavey {
  90% {
    opacity:1.2;
  }
  100% {
    opacity:.5;
  }
}

// TODO: redefine content layout.


/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.


/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.
