name: deploy_fixed

on:
  push:
    branches:
      - master
      - main
  pull_request:
    branches:
      - master
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
    
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.0.2'
        bundler-cache: false
    
    - name: Install dependencies
      run: |
        gem install bundler
        bundle config set --local path 'vendor/bundle'
        bundle install
    
    - name: Install Node.js dependencies
      run: |
        npm install -g mermaid.cli
    
    - name: Setup deploy options
      id: setup
      run: |
        git config --global user.name "GitHub Action"
        git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
        if [[ ${GITHUB_REF} = refs/pull/*/merge ]]; then # pull request
          echo "SRC_BRANCH=${GITHUB_HEAD_REF}" >> $GITHUB_OUTPUT
          echo "NO_PUSH=--no-push" >> $GITHUB_OUTPUT
        elif [[ ${GITHUB_REF} = refs/heads/* ]]; then # branch, e.g. master, source etc
          echo "SRC_BRANCH=${GITHUB_REF#refs/heads/}" >> $GITHUB_OUTPUT
        fi
        echo "DEPLOY_BRANCH=gh-pages" >> $GITHUB_OUTPUT
    
    - name: Deploy website 
      run: |
        echo "Using source branch: ${{ steps.setup.outputs.SRC_BRANCH }}"
        echo "Using deploy branch: ${{ steps.setup.outputs.DEPLOY_BRANCH }}"
        bash bin/deploy --verbose ${{ steps.setup.outputs.NO_PUSH }} \
                    --src ${{ steps.setup.outputs.SRC_BRANCH }} \
                    --deploy ${{ steps.setup.outputs.DEPLOY_BRANCH }} \
                    --ci